@charset "utf-8";

@media (min-width: 700px){	
	/*.gsWrap {
		width: calc(100% - 210px);
	}*/
	
	.card h2 {
		font-size: 24px;
	}
	
	.card img {
		width: 120px;
		height: 120px;
	}
	
	.card {
		height: 120px;
	}
	
	.container {
		padding: 10px;
	}
	
	.col-1 {
		width: 50%;
	}

	.infoWrap {
		width: 35%;
        background-color: rgba(0, 0, 0, 0);
        float: left;
		margin-right: 10px;
	}

	.chartWrap {
		width: calc(65% - 15px);
        float: right;
	}

	.buyItem {
		width: 50%;
		float: left;
	}

	.sellItem {
		width: 50%;
		float: left;
	}

	.sellBtn {
		cursor: pointer;
		display: block;
	}

	.secSellBtn {
		cursor: pointer;
		display: none;
	}

	.buyBtn {
		cursor: pointer;
		display: block;
	}

	.secBuyBtn {
		cursor: pointer;
		display: none;
	}
}
